@font-face {
    font-family: myfont;
    src: url(myfont.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(town.ttf);
}
@font-face {
    font-family: myfont3;
    src: url(comic.ttf);
}


.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
    font-weight: 200;
    font-size: large;
  }

body{
    background-image: url('img/mainpagebg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: myfont;
}

.container{
    display: grid;
    column-gap:10px;
    grid-template-columns:  3fr 2fr;
}
.item{
    padding: 20px;
    border: rgba(58, 58, 121, 0.137) solid 1px;
}

@media(max-width:500px){
    .container{
        grid-template-columns: 1fr;   
    }
    #welcome{
        font-size: 5px;
    }
}
#welcome{
    font-size: 30px;
    font-family: myfont3;
}
